<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JioMart</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<!-- HEADER  -->
<header class="header">
    <div class="header-left">
        <img src="/static/images/logo.png" class="logo" alt="JioMart">
    </div>

    <div class="header-center">
        <input type="text" placeholder="Search in JioMart">
    </div>

    <div class="header-right">
        <a href="/login" class="header-btn">Sign In</a>
    </div>
</header>

<!-- MAIN OFFER -->
<section class="main-offer">
    <h1>MEGA LOOT DEALS</h1>
    <p>Flat ₹50 OFF on minimum order ₹249</p>
    <button>Shop Now</button>
</section>

<!-- OFFER CARDS -->
<section class="offers">
    <div class="offer-card">
        <h3>Dry Fruit Picks</h3>
        <p>Up to 70% Off</p>
        <button>Shop Now</button>
    </div>

    <div class="offer-card">
        <h3>Walk Bold</h3>
        <p>From ₹89</p>
        <button>Shop Now</button>
    </div>

    <div class="offer-card">
        <h3>Smartphones</h3>
        <p>Best Deals</p>
        <button>Shop Now</button>
    </div>
     <div class="offer-card">
        <h3>Dry Fruit Picks</h3>
        <p>Up to 70% Off</p>
        <button>Shop Now</button>
    </div>
     <div class="offer-card">
        <h3>Smartphones</h3>
        <p>Best Deals</p>
        <button>Shop Now</button>
    </div>
</section>

<!-- FOOTER -->
<footer class="footer">
    <div class="footer-section">
        <h4>All Categories</h4>
        <p>Grocery</p>
        <p>Electronics</p>
        <p>Fashion</p>
        <p>Home & Lifestyle</p>
    </div>

    <div class="footer-section">
        <h4>Popular Categories</h4>
        <p>Fruits & Vegetables</p>
        <p>Dairy & Bakery</p>
        <p>Personal Care</p>
    </div>

    <div class="footer-section">
        <h4>Customer Account</h4>
        <p>My Account</p>
        <p>My Orders</p>
        <p>Wishlist</p>
    </div>

    <div class="footer-section">
        <h4>Help & Support</h4>
        <p>About Us</p>
        <p>FAQ</p>
        <p>Contact Us</p>
    </div>
</footer>

<div class="footer-bottom">
    © 2025 Reliance Retail Ltd. All rights reserved.
</div>

</body>
</html>