{% extends 'base.html' %}
{% block content %}

<div class="cart-page">
    <h2 class="page-title">Cart</h2>

    {% if cart_items %}
    <div class="cart-container">
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.title }}</td>

                    <td class="quantity-cell">
                        <a href="{% url 'decrement_cart' item.id %}">−</a>
                        <span>{{ item.quantity }}</span>
                        <a href="{% url 'increment_cart' item.id %}">+</a>
                    </td>

                    <td>₹ {{ item.total_price }}</td>

                    <td>
                        <a class="remove-btn" href="{% url 'remove_cart' item.id %}">
                            Remove
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="cart-summary">
            <h3>Total: ₹ {{ total }}</h3>
            <a href="{% url 'checkout' %}">
                <button class="checkout-btn">Proceed to Checkout</button>
            </a>
        </div>
    </div>

    {% else %}
        <p class="empty-text">Your cart is empty</p>
    {% endif %}
        <a href="{% url 'product' %}">
          <button class="continue-btn">Continue Shopping</button> 
        </a>    
</div>

{% endblock %}