{% extends "base.html" %}
{% block content %}

<div class="auth-page">
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    {% if error %}
        <p class="error-text">{{ error }}</p>
    {% endif %}
    <br>
    <p class="auth-link">
        New user?
        <a href="{% url 'register' %}"> Register here</a>
    </p>
</div>

{% endblock %}